/* CSS of darkmode */

html {
	background-color: rgb(0, 4, 73);
	color-scheme: dark !important;
}
body {
	background-color: rgb(0, 4, 73);
	color: rgb(255, 255, 255);
	height: 100vh;
}
/* td {
    background-color: rgb(39, 39, 39);
} */

::-webkit-scrollbar {
	background-color: rgb(0, 1, 17);
}
::-webkit-scrollbar-thumb {
	background-color: #337ab7;
}
.container {
	background-color: rgb(0, 4, 73);
	margin-top: -50px;
}
.well {
	background-color: transparent;
	border-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px inset;
}
.w3_info h2 {
	color: rgb(255, 255, 255);
}
.w3_info span {
	margin: auto;
}
.navbar-default {
	background-color: rgb(0, 4, 73);
	border-color: transparent;
	border-color: transparent;
}
.navbar-default li>a:hover, .navbar-default li>a:focus {
	background-color: rgb(0, 4, 73);
	color: #ffffff;
}
a {
	color: rgb(151, 151, 151);
}
option {
	color: #000;
}
.page-header {
	border-bottom-color: rgb(53, 57, 59);
	margin-top: 50px;
}
.modal-header {
	background-color: rgb(45, 45, 45);
	border-color: transparent;
}
.panel-footer {
	background-color: rgb(45, 45, 45);
	border-top-color: transparent;
}
.sidebar ul li {
	border-bottom-color: transparent;
}
.sidebar ul li a.active {
	background-color: transparent;
}
.form-control, .form-control[readonly] {
	color: rgb(178, 172, 162);
	background-color: rgb(21, 23, 24);
	border-color: transparent;
}
.form-control[disabled] {
	background-color: transparent;
	cursor: auto;
}
.btn-default {
	color: rgb(255, 255, 255);
	background-color: rgb(21, 23, 24);
	border-color: transparent;
}
.nav .open>a, .nav .open>a:focus {
	background-color: rgb(0, 4, 73);
	border-color: rgb(43, 104, 156);
}
.dropdown-menu {
	list-style-image: initial;
	background-color: rgb(0, 4, 73);
	border-color: transparent;
}
.dropdown-menu>li>a {
	color: rgb(200, 195, 188);
}
.dropdown-menu li>a:hover {
	background-color: transparent;
	color: white;
}
.nav a:hover {
	background-color: transparent;
}
.col-lg-7 a:hover {
	color: rgb(255, 255, 255);
	border-color: transparent;
}
.panel-primary {
	border-color: rgb(40, 96, 145);
}
.panel {
	background-color: rgb(39, 39, 39);
	border-color: transparent;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
.form-control:focus, .form-control:active {
	background: transparent;
	color: white;
}
input[type="date"]::-webkit-calendar-picker-indicator {
	cursor: pointer;
	filter: invert(0.8) sepia(100%) saturate(10000%) hue-rotate(240deg);
	border-radius: 4px;
	margin-right: 2px;
}
.modal-body {
	background-color: rgb(30, 32, 33);
}
.modal-title {
	color: #30b329;
}
#textArea {
	background-color: transparent;
	color: white;
}
.modal-footer {
	background-color: rgb(30, 32, 33);
	border-color: transparent;
}
.navbar-brand img {
	margin-top: -5px;
	margin-right: 5px;
}
#page-wrapper {
	background: radial-gradient(circle at top left, rgba(0, 4, 73, 1), rgb(30, 32, 33));
	background: -webkit-radial-gradient(circle at top left, rgba(0, 4, 73, 1), rgba(2.497, 26.042, 68.326, 1));
	background: -moz-radial-gradient(circle at top left, rgba(0, 4, 73, 1), rgba(2.497, 26.042, 68.326, 1));
	border: none !important;
	/* margin-top: -50px; */
	border-bottom-left-radius: 20px;
	height: auto;
}
.btn-danger {
	margin-bottom: 3%;
}
/* End of darkmode */